* {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 標楷體;
}

.main {
    display: flex;
    width: 1024px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 12px;
    margin: auto;
}

body>*:not(.aside,.section),
.aside>*,
.section>*{
    border: 1px solid lightgray;
}

/* .top,
.menu,
.update,
.marquee,
.content,
.footer {
    border: 1px solid lightgray;
} */

.top {
    flex-basis: 1000px;
    height: 65px;
}

/* left */
.aside {
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
}

.menu {
    flex-basis: calc(100% - 25px);
    /* display: flex;
    flex-direction: column; */
}

.menu_header {
    font-weight: 500;
    font-size: 24px;
    /* text-decoration: underline; */
    color: #FF00FF;
    margin: 20px auto;
    
    text-decoration-color: black;
    text-underline-offset: 5px;
}
.menu_header table {
    margin: auto;
}
.menu_header td {
    border-bottom: 1px solid black;
}

.menu > a{
    color: #000000;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 200px;
    height: 35px;
    background-image: url('../images/menu1.png');
    background-repeat: no-repeat;
    line-height: 35px;
}
.menu > a:hover{
    background-image: url('../images/menu2.png');
    background-repeat: no-repeat;
}
.menu > a:visited{
    background-image: url('../images/menu2.png');
    background-repeat: no-repeat;
    color: blue;
    text-decoration: underline;
}

.update {
    flex-basis: 25px;
    color: #000000;
    text-align: center;
    font-size: 16px;
}

/* right */
.section {
    flex-basis: calc(1000px - 215px);
    display: flex;
    flex-direction: column;
    /* flex-basis: 770px; */
}

.marquee {
    flex-basis: 29px;
    font-size: 24px;
    color: #0000ff;
}

.content {
    flex-basis: calc(100% - 29px);
}

.content > iframe{
    width: 100%;
    height: 100%;
}

.footer {
    flex-basis: 1000px;
    height: 20px;
    color: #000000;
    text-align: center;
    font-size: 16px;
}